<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/a1qa 2 level/VKUiApiTest">
        <classes>
            <class name="test.TestVK">
            </class>
        </classes>
    </test>
</suite>
